/*
da grid
*/

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col {
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  width: 32%;
  display: inline-block;
  vertical-align: top;
}

/*
Clearfix
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
}

/*
  Row Styling
*/

.row {
  background: #5CA4D7;
  padding: 66px 0 44px 0;
  min-width: 960px;
}

/*
Form Stylee
*/

form {
  margin-bottom: 20px;
}

.group {
	border: none;
}
.group label {
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}
.group input,
.group select,
.group textarea {
  border: 1px solid #fff;
  display: block;
  margin: 5px 0 25px 0;
  padding: 5px 8px;
  background-color: #5CA4D7

}
.group input,
.group textarea {
  width: 100%;
  color: rgba(0,0,0,0.5);
}
.group select {
  width: 100%;
}
.group textarea {
  height: 80px;
}
.group input.placeholder {
	color: white;
}
/* just some active styling in the user areas
*/
textarea:hover, 
input:hover, 
select:hover {
   background-color: #d0d0d0; 
}
 {
   background-color: #d0d0d0; 
}
 {
   background-color: #d0d0d0; 
}

textarea:focus {
    background-color: rgba(255,255,255,0.5);
}
input:focus {
    background-color: rgba(255,255,255,0.5);
}

/* some extra stuff */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
