@fontface {
	font-family: 'ecoico';
	src:url('./fonts/ecoico.eot') format('embedded-opentype'),
		url('./fonts/ecoico.woff') format('woff'),
		url('./fonts/ecoico.ttf') format('truetype'),
		url('./fonts/ecoico.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    color: #47a3da;
}

/* a top level box wrapping everything and 
forcing the nested elements within into a frame 
*/
.main {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}
/* an unordered list wrapping a series of 
lists
*/
.boxline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}
.boxline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: rgba(237,237,173,0.6);
	left: 20%;
	margin-left: -10px;
}
.boxline > li {
	position: relative;
}
.boxline > li .timely {
	display: block;
	padding-right: 100px;
	position: absolute;
}
.boxline > li .timely span {
	display: block;
	text-align: right;
}
.boxline > li .timely span:first-child {
	font-size: 0.9em;
	color: #F8B482;
}
.boxline > li .timely span:last-child {
	font-size: 2.0em;
	color: #67C7D5;
}
.boxline > li:nth-child(odd) .timely span:last-child {
	color: #F8EF82;
}
.boxline > li .infobox {
	margin: 0 0 15px 25%;
	background: #EE757C;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.boxline > li:nth-child(odd) .infobox {
	background: #67C7D5;
}

.boxline > li .infobox h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
.boxline > li .infobox:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-right-color: #67C7D5;
	border-width: 15px;
	top: 5px;
}

.boxline > li:nth-child(odd) .infobox:after {
	border-right-color: #EE757C;
}
.boxline > li .icon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	position: absolute;
	color: #fff;
	background: #F8B482;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #67C7D5;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}
/* the :before pseudo selector focussed on 
an icon/ASCII character class within the 
'icon' class nested inside the 'timely' 
list class... causing the icon to be absolutely 
positioned inside the box and display the
special font*/

.phone:before {
	content: "\e009";
}

.chat:before {
	content: "\e001";
}

.drawer:before {
	content: "\e002";
}