*, *::before, *::after {
	box-sizing: border-box;
}

.grid {
	font-size: 0px;
	text-align: justify;
	position: relative;
}

.grid::after {
	content: "";
	display: inline-block;
	width: 100%;
}

.grid > * {
	display: inline-block;
	width: 100%;
	text-align: left;
	font-size: medium;
	vertical-align: top;
	transition: all .25s ease;
}

@media (min-width: 480px){
	.grid-2-480 > * { width: 47%; }
}

@media (min-width: 800px){
	.grid-3-800 > * { width: 31%; }
}

.purple-grid > * {
	background-color: purple;
	padding: 2em;
	color: white;
	margin-bottom: 2em;
}

.squarify > *::after {
	content: "";
	display: block;
	padding-top: 100%;
}