*, *::before, *::after {
    box-sizing: border-box;
}
/**
 * grid!!!!
 */
 .grid {
    font-size: 0px;
    text-align: justify;
}
.grid > * {
    display: inline-block;
    font-size: large;
}
.grid::after {
    display: inline-block;
    width: 100%;
    content:"";
}
/**
 * grid sizes
 */
 @media screen and (min-width: 480px) {
    .min480 > * {
        width: 47%;
    }
}
@media screen and (min-width: 800px) {
    .min800 > * {
        width: 30%;
    }
}
.shirts > * {
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #5CA4D7;
    margin-bottom: 4.5em;
    position: relative;
    perspective: 800px;
}

 .shirts > * > img {
    display: block;
    width: 100%;
    transition: transform .5s ease;
}
.shirts > * > img:nth-of-type(1) {
    backface-visibility: hidden;
    transform: rotateY(0deg) translateZ(0);
}
.shirts > * > img:nth-of-type(2) {
    position: absolute;
    top:0;
    left:0;
    backface-visibility: hidden;
    transform: rotateY(180deg) translateZ(0);
}
.shirts input[type="checkbox"]::before {}
 .shirts input[type="checkbox"] {
    position: absolute;
    margin: 0;
    top:0;
    right: 0;
    width: 3.5em;
    height: 3.5em;
    z-index: 1;
    outline: 0 !important;
}
.shirts input[type="checkbox"]:hover {
    cursor: pointer;
}
.shirts input[type="checkbox"]::after {
    content: "\f021";
    font: 25px/1 FontAwesome;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-left: 2px solid #5CA4D7;
    border-bottom: 2px solid #5CA4D7;
    line-height: 1.6em;
    color: #5CA4D7;
    text-align: center;
    transition: all .5s ease;
}
.shirts input[type="checkbox"]:checked::after {
    background-color: #5CA4D7;
    color: white;
}
.shirts input[type="checkbox"]:checked ~ img:nth-of-type(1) {
    transform: rotateY(180deg);
}
.shirts input[type="checkbox"]:checked ~ img:nth-of-type(2) {
    transform: rotateY(0deg);
}
/**
 * options
 */
 .shirts .options {
    display: block;
    overflow: auto;
    position: relative;
}
.shirts .options > * {
    display: block;
    float:left;
    width: 20%;
    position: relative;
}
.shirts .options > *:last-child::after {
    border-right-width: 0px;
}
.shirts .options > *::after {
    content:"";
    display: block;
    padding-top: 100%;
    border-top: 2px solid #5CA4D7;
    border-right: 2px solid #5CA4D7;
}
.shirts .options .fa {
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0);
}
.shirts .options .fa::after {
}

.shirts .options > span {
    color: #5CA4D7;
    transition: all .125s 0s ease;
}
.shirts .options > span:hover {
    cursor: pointer;
}
.shirts .options > span:hover {
    color: white;
    background-color: #5CA4D7;
}
/**
 * label
 */
 .shirts > * > h6 {
    position: absolute;
    top: 100%;
    padding-top: 1em;
    overflow: auto;
    left: 0;
    width: 100%;
    color: #5CA4D7;
    font-family: Arial, sans-serif;
    font-weight: normal;
    overflow: hidden;
}
.shirts > * > h6 > strong {
    float: right;
}
